.content {
    margin: 0 auto;
    max-width: 300px;
    margin-top: 320px;
}

.title {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.file-input {
    width: 270px;
}

.change-image-btn {
    margin-top: 20px;
    margin-left: 55px;
}